@media(min-width:1200px) {

}

@media(min-width:992px) and (max-width:1199px) {
    
}

@media(min-width:768px) and (max-width:991px){
}

h1 {
    color: grey;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    font-weight: bold
}

.contenedor{
    text-align: center;
    display: inline-block;
}



.box01{
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.box02{
  width: 33%;
  height: 180px;
  text-align: center;
}

.box03{
  width: 33%;
  height: 180px;
  text-align: center;
}
.box04{
    width: 33%;
    height: 180px;
    text-align: center;
  }

.imagen1 {
    text-align: center;
    width: 33%;
    float: left;
}

.imagen2 {
    text-align: center;
    width: 33%;
    float: none;
}

.imagen3 {
    text-align: center;
    width: 33%;
    float: right;
}


#division {

    border-color: black;
    border-style: solid;
    background-color: grey;
    text-align: center;
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

footer {
    text-align: center;

}


.header {
    text-align: center;
    border: solid;
    width: 100%;
    height: 100px;
}

#fondo {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}
.footer {
    text-align: center;
    border: solid;
    width: 100%;
    height: 100px;
}
#fondodos {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;}

.info {
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7%;
    border: black solid 1px;
    display: inline-block;
}

.navbar{
    background-color: black;
}

.navbar-brand, .nav-link{
    color: white;
    }

    .carousel-inner img {
        width: 100%;
        max-height: 500px;
    }
    
    .carousel-inner{
     height: 300px;
    }

    .slider-container {
        display: flex;
        width: 100%;
        height: 100vh;
        overflow-x: scroll;
    }

   